.homepage__imagens {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.homepage__imagem {
    background-color: var(--vermelho);
    align-items: center;
}

.homepage__histo {
    background-color: var(--branco);
    box-shadow: 5em;
}

.homepage__historia-título {
    color: var(--vermelho);
    align-items: center;
    font-weight: 700;
    display: flex;
    justify-content: center;
    font-size: 32px;
    padding: 1em;
    background-color: var(--navy);
}

.homepage__historia2 {
    display: flex;
    justify-content: space-around;
}

.homepage__historia-logos {
    align-items: center;
    display: flex;
    padding: 1em;
    background-color: var(--branco);
    justify-content: space-around;
}

.homepage__historia-datas {
    font-weight: 700;
    color: var(--navy);
    background-color: var(--vermelho);
    padding-right: 1em;
}

@media screen and (max-width: 1020px) {
    .imagem2 {
        display: none;
    }
    .imagem3 {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .imagem1 {
        display: none;
    }
}

@media screen and (max-width: 1708px) {
    .imagem3 {
        display: none;
    }
}

@media screen and (min-width: 1728px) {
    .imagem2 {
        display: none;
    }
}